* {
  font-family: "lato", sans-serif;
  font-weight: bold;
}

body {
  background: #A020F0;

  color: #800080;
  margin-top: 20px;
}

.container {
  display: block;
  width: 400px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}
